/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define root variables for theme */
:root {
  --primary-color: #e5e7eb;
  --secondary-color: #9ca3af;
  --tertiary-color: #1f2937;
  --secondary-tertiary-color: black;
  --second-primary-color: white;
  --second-secondary-color: #374151;
}

body {
  transition: all 0.5s ease-in-out;
}

body.light {
  --primary-color: #e5e7eb;
  --secondary-color: #9ca3af;
  --second-primary-color: white;
  --second-secondary-color: #374151;
  --tertiary-color: #1f2937;
  --secondary-tertiary-color: black;
  background-color: white;
  color: black;
}

body.dark {
  --primary-color: black;
  --secondary-color: #1f2937;
  --second-primary-color: #242528;
  --second-secondary-color: #9ca3af;
  --tertiary-color: #e5e7eb;
  --secondary-tertiary-color: white;
  background-color: #242528;
  color: white;
}

.container{
  margin: auto;
}